body {
  background: white;
  color: black;
  font-family: monospace;
  padding-top: 1%;
}

.calendar_container {
  border: 1px solid black;
  max-width: 740px;
  margin: auto;
}

@media (min-width: 1920px) {
  .calendar_container {
    max-width: 1200px;
  }
}

.year {
  text-align: center;
  font-size: 24pt;
  font-weight: bold;
  margin-bottom: 12px;
}

.calendar {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(155px, 1fr));
  row-gap: 20px;
  column-gap: 40px;
}

.month {
  padding: 0px;
}

.month_name {
  text-align: center;
  font-weight: bold;
}

.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.day, .empty_cell, .day_name {
  text-align: center;
  align-content: center;
  aspect-ratio: 1.476;
  padding: 0px;
}

.day:hover {
  background: orange;
  font-weight: bold;
  cursor: default;
}

.day_name {
  font-weight: bold;
}

.weekend {
  color: red;
}
