body {
  font-family: 'Open Sans', sans-serif;
  background: #f0f0f0;
}

a {
  color: Blue;
}

a:visited {
  color: Blue;
}

.highlighted_th {
  background: #adbce6;
}

.highlighted_tr:hover {
  background: #ffc484;
}
