body {
  font-family: 'Share Tech Mono', monospace;
  margin-left: 20px;
}

#bin, #oct, #dec, #hex {
  font-family: 'Share Tech Mono', monospace;
  font-size: 16px;
  border: 1px solid Grey;
  border-radius: 4px;
  width: 200px;
  height: 20px;
  padding: 6px;
}

#converter {
  display: inline-block;
  float: left;
  border: 1px solid Black;
  border-radius: 8px;
  padding: 12px;
}

#hints {
  display: inline-block;
  float: left;
  width: 280px;
  border-radius: 4px;
  background: #d9a762;
  margin-left: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.hint_list {
  list-style: square;
  padding-left: 20px;
}

#cheat_sheet {
  display: none;
  float: left;
  background: Black;
  color: Green;
  width: 280px;
  border-radius: 4px;
  margin-left: 20px;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 20px;
}

.primary_button {
  font-family: 'Share Tech Mono', monospace;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  width: 160px;
  border: 1px solid rgba(27,31,35,0.2);
  border-radius: 6px;
  color: #24292e;
  background-color: #eff3f6;
  background-image: linear-gradient(-180deg,#fafbfc,#eff3f6 90%);
  padding: 3px 14px;
  line-height: 24px;
  cursor: pointer;
}

.primary_button:focus {
  outline: none;
}

.primary_button:hover {
  background-image: linear-gradient(-180deg,#d0d0d0,#eff3f6 90%);
}

.primary_button:active {
  background-image: linear-gradient(-180deg,#fafbfc,#eff3f6 90%);
}
