input[type="button"] {
  cursor: pointer;
}

#help_button {
  background: LightGrey;
  border: none;
  border-radius: 10px;
}

#copy_audio_name_button, .seek_audio_button {
  width: 40px;
}

audio {
  width: 100%;
}

audio:focus {
  outline: none;
}
