name: Java
env:
  JAVA_VERSION: "25"

on:
  push:
    branches:
      - master

jobs:
  win:
    name: Windows (windows-latest)
    runs-on: windows-latest
    steps:
      - name: Git Clone
        uses: actions/checkout@v6

      - name: Set up Java SDK
        uses: actions/setup-java@v5
        with:
          distribution: "zulu"
          java-version: "8"
          architecture: "x64"

      - name: Build
        run: |
          cd java
          make

      - name: Upload artifact (Calc.java)
        uses: actions/upload-artifact@v7
        with:
          name: Calc_java_win
          path: java\Calc

  linux:
    name: Linux (ubuntu-latest)
    runs-on: ubuntu-latest
    steps:
      - name: Git Clone
        uses: actions/checkout@v6

      - name: Set up Java SDK
        uses: actions/setup-java@v5
        with:
          distribution: "zulu"
          java-version: ${{ env.JAVA_VERSION }}
          architecture: "x64"

      - name: Build
        run: |
          cd java
          make

      - name: Upload artifact (Calc.java)
        uses: actions/upload-artifact@v7
        with:
          name: Calc_java_linux
          path: java/Calc
